.login-wrapper {
    .login-fields {
        padding: 50px 50px 50px 160px;
    }
    .input-width {
        width: 27rem;
    }
    .welcome-back-txt {
        font-weight: 400;
        font-size: 16px;
        color: #2d3748;
    }
    .login-txt {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: #1a202c;
    }
    .signup-txt {
        font-weight: 400;
        font-size: 16px;
        color: #616161;
        .subtxt {
            color: #2b6cb0;
            cursor: pointer;
        }
    }
    .img-wrapper {
        height: 100vh;
        object-fit: cover;
    }
    .role-header {
        font-weight: bold;
    }
}

.gk-sidebar {
    width: 20%;
    height: 100vh;
    background-color: #f8f7ff;
    .title-txt {
        font-weight: 700;
        font-size: 32px;
        color: #000000;
    }
    .sidebar-items {
        align-self: flex-start;
        width: 100%;
    }
    .sidebar-item {
        width: 100%;
        display: flex;
        cursor: pointer;
        // justify-content: space-between;
        align-items: center;
        padding: 20px 20px 20px 45px;
        color: #a5a2b8;
        &.active-item {
            color: #352e5b;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}
