.login-wrapper {
    .login-fields {
        padding: 50px 50px 50px 160px;
    }
    .input-width {
        width: 27rem;
    }
    .welcome-back-txt {
        font-weight: 400;
        font-size: 16px;
        color: #2d3748;
    }
    .login-txt {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: #1a202c;
    }
    .signup-txt {
        font-weight: 400;
        font-size: 16px;
        color: #616161;
        .subtxt {
            color: #2b6cb0;
            cursor: pointer;
        }
    }
    .img-wrapper {
        height: 100vh;
        object-fit: cover;
    }
    .role-header {
        font-weight: bold;
    }
    a {
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }
}

.gk-sidebar {
    width: 20%;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #f2f2f2;
    a {
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }
    .title-txt {
        font-weight: 700;
        font-size: 32px;
        color: #000000;
    }
    .sidebar-items {
        align-self: flex-start;
        width: 100%;
    }
    .sidebar-item {
        width: 100%;
        display: flex;
        cursor: pointer;
        // justify-content: space-between;
        align-items: center;
        padding: 20px 20px 20px 45px;
        color: #a5a2b8;
        &.active-item {
            color: #352e5b;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}
.org-wrapper {
    width: 80%;
    background-color: #fff;
}
.org-header {
    background-color: #fff;
    height: 80px;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #f2f2f2;
    .org-title {
        font-size: 20px;
        font-weight: bold;
        color: #000;
    }
}
.org-list {
    background-color: #f2f2f2;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 32px;
    grid-gap: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    overflow-y: scroll;
    .card-wrapper {
        .button-padding {
            padding: 0px 5px;
        }
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 360px;
        width: 100%;
        .img-wrapper {
            border-radius: 10px 10px 0 0;
            height: 220px;
            object-fit: cover;
            width: 100%;
        }
        .info-wrapper {
            padding: 15px;
        }
        .info-title {
            color: #000;
            font-size: 16px;
            font-weight: 700;
        }
        .info-desc {
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            color: #70757a;
            display: -webkit-box;
            font-size: 16px;
            height: 72px;
            margin-top: 10px;
            overflow: hidden;
            text-align: justify;
            text-overflow: ellipsis;
        }
    }
}

.rs-modal-wrapper {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .rs-modal-title {
        color: #000000;
        font-size: 16px;
        font-weight: bold;
    }
    .rs-btn-close .rs-icon {
        font-size: 20px;
    }
    .gk-modal-img {
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    .modal-desc {
        margin-top: 10px;
        font-size: 16px;
        color: #70757a;
        text-align: justify;
    }
    .field-name {
        font-weight: bold;
    }
}

.profile-wrapper {
    background-color: #f2f2f2;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 32px;
    .wallet-wrapper {
        width: 100%;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #f2f2f2;
    }
    .wallet-title {
        font-size: 20px;
        font-weight: bold;
    }
    .wallet-sub-title {
        font-size: 16px;
        font-weight: bold;
    }
    .wallet-amt {
        font-size: 16px;
    }
    .dep-text {
        font-size: 16px;
        font-weight: bold;
    }
}

.transactions-wrapper {
    margin-top: 20px;
    width: 100%;
    height: calc(100vh - 290px);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    .MuiTableCell-head {
        font-weight: bold;
        color: #575757;
    }
    .color-green {
        color: #16a34a;
    }
    .color-red {
        color: rgb(234 88 12);
    }
    .color-blue {
        color: rgb(6 182 212);
    }
}
